extends ../base/layout

block content
    div.left
        h3 The dashboard acts as a launchpad to kickstart your productivity.
        button.align-right.white-hover-btn Get Started
    div.right
        img.profile-img(src="/res/img/default_profile_image.jpg")
        h2#username
        h4 Email: 
            span#email
        p Joined 
            span#member-since