extends skeleton
block page
    div.header
        div.logo#logo
        form#logout-form(action="/logout", method="get")
            button(type="submit") Logout
    div.content(class=(contentFullSize)?"content-full-size":'')
        block content