/* Global styles */
html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background:#fff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 3em;
    font-weight: 200;
}

h3 {
    font-size:3em;
    font-weight: 200;
    /*! border-bottom: 5px dotted; */
    /*! display: inline-block; */
    /*! padding-right: 20px; */
}

h4 {
    font-size: 1.5em;

}

@keyframes input-focus {
    0% {box-shadow: inset 0px 0 0 rgba(0,0,0,0.0)}
    50% {box-shadow: inset 450px 0 0 rgba(16,122,255,0.5)}
    100% {box-shadow: inset 0px 0 0 rgba(0,0,0,0.0)}
    
}

input {
    padding: 10px 15px;
    border-radius: 3px;
    border: 0;
    outline: none;
    margin: 5px;
    background: transparent;
    color: #111;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}


input:focus {
    border-color: #34a6ff;
    animation: input-focus 0.7s
}

button {
    padding: 8px 25px;
    border: 2px solid #34a6ff;
    color:#fff;
    font-size: 1em;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 150px 0px 0 #34a6ff;
}

button:hover {
    background: transparent;
    color:#34a6ff;
    box-shadow: inset 0px 0 0 #34a6ff;
}

/* General styles */
.align-right {
    float: right;
}

.error-hidden {
    display: none;
}

.white-hover-btn:hover {
    color:#fff;
    border-color:#fff;
}

/* Specific styles */

.header {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:80px;
    line-height: 80px;
    box-sizing: border-box;
    padding: 0 2.5%;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.logo {
    width:300px;
    height:100%;
    background-image: url('../img/logo.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left, center;
    float: left;
    cursor: pointer;
}

.header form {
    float: right;
}

.cover {
    background: #34a6ff;
    height:100vh;
    width: 100vw;
    padding-top:80px;
    box-sizing: border-box;
    background-size:cover;
    background-repeat: no-repeat;
}

.cover h2 {
    color: #fff;
    font-size: 3em;
    margin: 0;
}



.left {
    width:60%;
    box-sizing: border-box;
    float:left;
    height:100%;
    padding: 15% 2.5%;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.left h3 {
    font-size: 2.5em;
    color:#fff;
    margin: 0;
    margin-top:20%;
}

.right {
    width:40%;
    box-sizing: border-box;
    float:right;
    padding:50px;
    height: 100%;
    background: #fff;
}

.right h3{
    color:#34a6ff;

    background: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
}

.right input {
    width:80%;
    padding: 15px 25px;
}

.right button {
    display: block;
    margin: 10px auto;
}



.content {
    box-sizing: border-box;
    padding: 20px 2.5%;
    margin-top: 80px;
    min-height: 85vh;
}

.content input {
    display: block;
    width: 300px;
}

.content-full-size {
    padding: 0 !important;
    height: 85vh;
}

.content-full-size .right {
    text-align: center;
}

.content-full-size h4 {
    font-weight: 300;
    font-size: 1.2em;
}

.profile-img {
    border-radius: 40px;
}

.content-full-size .left {
    background-image: url('../img/user_bg.jpg');
    background-size:cover;
}


.footer {
    background: #111;
    color:#fff;
    box-sizing: border-box;
    padding: 10px 2.5%;
}


/* Info messages */
.error {
    background: #d32726;
    position: fixed;
    padding: 10px;
    line-height: initial;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}



.success {
    background: #27ac31;
    position: fixed;
    padding: 10px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
    border-radius: 3px;
    line-height: initial;
    bottom: 2.5%;
    right: 2.5%;
    
}

#loading {
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    font-size:3em;
    font-weight: 200;
    color: #fff;
    background: #34a6ff;
    text-align: center;
    line-height: 100vh;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease-in-out;

}