form(action="/account/register", method="post")#register-form
    div#register-error.error.error-hidden
    div#register-success.success.error-hidden
    input(type="text", name="reg_username", placeholder="Username")
    input(type="email", name="reg_email", placeholder="Email")
    input(type="password", name="reg_password", , placeholder="Password")
    input(type="password", name="reg_confirm_password", placeholder="Confirm Password")
    button(type="submit") Register